<div class="container">
    
    <div class="box">
        <h1 class="intro">
        UMANG GUPTA <br>
        NodeJS Developer
        </h1>
        <small class="current_pos" style="color : chocolate">Student at Bundelkhand insitute of Enginerring and Technology</small>

    </div>
    <div class="box1">
        {{!-- <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Wikimania2019_leaves_stem_icon.svg/1700px-Wikimania2019_leaves_stem_icon.svg.png" > --}}
    </div>
    
</div>