<div class="container1">
    <h1 style="margin : auto; color : chocolate;">Achievement</h1>
    
    <div class="ach">
        <h3>Gold Developer Certificate</h3>
        <small>By AKTU</small>
    </div> 
     <div class="ach">
        <h3> Certificate of Completion (C++ DS and Algo)</h3>
        <small>By Coding Ninjas</small>
    </div>
    <div class="ach">
        <h3> Certificate of Completion (NodeJS)</h3>
        <small>By Coding Ninjas</small>
    </div>
    <br>
    <br>
    <hr width="60%" align="center">
    
     <h1 style="margin : auto;margin-top:4%; color : chocolate;">Contact Details</h1>
    <div class="ach">
        <small>toshugupta3@gamil.com</small>
  
    </div> 
     <div class="ach">
        <small> www.github.com/umang39</small>
      
    </div>
    <div class="ach">
        <small> https://www.linkedin.com/in/umang-gupta-bb8a80192/</small>
       
    </div>
</div>
