<div class="container2">
    <h1 style="margin : auto; color : chocolate;">Project</h1>
    <div class="ach">
        <h3>Social Media Site</h3>
        <h4>This site is made in a Nodejs,This site help freshers to know about Seniors and events which are going to be conduxted in a college </h5>
        <small>6/11/20 - 9/12/20</small>
    </div> 
<div class="ach">
        <h3>Social Media Site</h3>
        <h4>This site is made in a Nodejs,This site help freshers to know about Seniors and events which are going to be conduxted in a college </h5>
        <small>6/11/20 - 9/12/20</small>
    </div> 
<div class="ach">
        <h3>Social Media Site</h3>
        <h4>This site is made in a Nodejs,This site help freshers to know about Seniors and events which are going to be conduxted in a college </h5>
        <small>6/11/20 - 9/12/20</small>
    </div> 
<div class="ach">
        <h3>Social Media Site</h3>
        <h4>This site is made in a Nodejs,This site help freshers to know about Seniors and events which are going to be conduxted in a college </h5>
        <small>6/11/20 - 9/12/20</small>
    </div> 

</div>